@import "../../responsive.scss";
.slider{
    display: flex;
    width: 100%;
    height: 350px;
    gap: 20px;

    .fullSlider{
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 999;


        .arrow{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            img{

                width: 50px;

                @include md {
                    width: 30px;
                }

                &.right{
                    transform: rotate(180deg);
                }
            }
        }
        .imgContainer{
            flex: 10;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .close{
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            flex: 36;
            font-weight: bold;
            padding: 20px;
            cursor: pointer;
            transform: scale(1.5);
        }
    }

    img{
            width: 100%;height: 100%;
            object-fit: cover;
            border-radius: 10px;
            cursor: pointer;
        }
    .bigImage{
        flex: 3;

        
    }
    .smallImage{
        flex:1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;

        img{
           height: 100px;

        }
    }
}